{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item" id="message-{{ message.id }}">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>

            <form action="/messages/{{ message.id }}/fancy#message-{{ message.id }}" method="POST">
              <input type="hidden" name="previous-page" value="/users/{{ user.id }}">
              <button type="submit" class="btn btn-link">
                <span class="fa-stack fa-2x">
                  {% if message.is_fancied_by(g.user) %}
                  <i class="fas fa-star fa-stack-1x" style="color:coral;font-size:3rem"></i>
                  {% else %}
                  <i class="fas fa-star fa-stack-1x" style="color:grey;font-size:3rem"></i>
                  {% endif %}
                  <i class="fa-stack-1x" style="font-size:0.7rem;color:white">{{ message.count_fancies() }}</i>
                </span>
              </button>
            </form>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}